a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body{
    font-family: 'Montserrat', sans-serif;
    color: #333;
}
.Container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url('../../assets/img/bg.jpg');
    background-size: contain;
    display: flex;
    align-items: center;

}

.Container__slider{
    width: 35vw;
    height: 100%;
    background: #fff;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.Container__slider:after{
    content: ' ';
    background: url('../../assets/img/bg-shape.png') no-repeat;
    width: 50%;
    height: 100%;
    display: block;
    right: -45%;
    position: absolute;
    z-index: 2;
}

.Container__phone{
    z-index: 3;
}

.Slider__page a:after{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: #f3953e;
    display: block;
    margin: 5px 0;
}
.Slider__page a.active::after{
    background-color: #3363ac;
}

.Slider__page {
    margin-right: 100px;
}

.Slider__content{
    /*max-width: 330px;*/
    position: relative;
    padding: 30px 0;
}

.Slider__content-border{
    width: 100px;
    height: 3px;
    background-color: #f3953e;
    position: absolute;
}

.Slider__content h2{
    font-size: 2.3em;
    color:#f3953e;
    font-weight: bold;
    margin: 10px 0;
    padding-top: 10px;
}
.Slider__content p{
    font-size: 2.3em;
    color: #3363ac;
    font-weight: 900;
    line-height: 130%;
}

.Slider__content p small{
    display: block;
    font-size: 0.4em;
    font-weight: 600;
}

.Slider__content p b{
    display: block;
    color: #00b35b;
}

.Container__phone{
    max-height: 600px;
    max-width: 300px;
}

.social {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social a:hover{
    cursor: pointer;
}
.social a:first-child{
    margin-right: 10px;
}
.mobile{
    display: none;
}

@media (max-width: 1000px){
    .Container{
        flex-direction: column-reverse;
        height: auto;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .Container__logo {
        margin-top: 50px;
        max-width: 90%;
    }
    .Container__logo img{
        max-width: 100%;
    }
    .Container__slider {
        width: 100vw;
        /* height: 100%; */
        background: #fff;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        padding: 50px 0;
        margin: 50px 0;
        justify-content: center;
    }
    .Slider__page{
        display: none;
    }
    .Slider__content{
        padding: 30px 30px;
        width: 100%;
    }
    .Slider__content h2{
        font-size: 2em;
    }
    .Slider__content p{
        font-size: 1.5em;
    }
    .Slider__content b{
        display: initial;
    }
    .Container__phone{
        margin-bottom: 20px;
    }
}